
  

  
  
<div>
<app-navbar  [deviceXs]="deviceXs"></app-navbar>



<div fxLayout.xs="column">
  <div fxFlex.xs=100%  >
  <img src="..\assets\580-c.jpg" class="md-card-image" alt="image caption" style="width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;">
</div>  


  <div fxLayout="row" class="container "role="alert" style="background-color:black; display: flex;" > 
    <marquee behavior="" direction="" style="font-size: xx-large; padding: auto; color:goldenrod;">Welcome to Best Restuarents in the world</marquee>
     
  </div>
 
<div  fxLayout="row" fxLayout.xs=100%  fxLayout.xs="column"  fxLayoutGap="0.1%" >
<mat-card class="example-card" style="background-color:lightseagreen">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>About the Academy</mat-card-title>
    <mat-card-subtitle>Page 1</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="..\assets\card1.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      All voters, aside from the Academy Chairs and Vice Chairs, must remain anonymous.
       A minimum of 25% of the panel is renewed each year.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card  class="example-card" style="background-color:goldenrod">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>The World's Best Restaurants</mat-card-title>
    <mat-card-subtitle>Page 2</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      Since 2002, The World’s 50 Best Restaurants has reflected the diversity of the world's culinary landscape. Thanks to its panel of more than 1,000 culinary experts, as well as its structured and audited voting procedure,
      the annual list of the world's finest restaurants provides a snapshot of some of the best destinations for unique culinary experiences
    </p>
  </mat-card-content>
  <img mat-card-image src="..\assets\card4.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card   class="example-card"  style="background-color: palevioletred;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Media contacts</mat-card-title>
    <mat-card-subtitle>Page 3</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="..\assets\188131029_850395222490222_845719964983847561_n.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Erica Schecter,
      PR & Communications Manager <br>
     Email: erica.schecter@wrbm.com <br>
     Phone: +44 (0)1293 610285
    </p>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
</div>
</div>

