
<div>
<mat-toolbar class="nav">
  <mat-toolbar-row fxLayoutAlign="space-between center">
   <div fxLayout="row">
     <button mat-button>
      <mat-icon>chair</mat-icon>
       <span class="logo">Welcome!!</span>
     </button>
     <div *ngIf="!deviceXs">
      
      <button mat-button routerLink="/home" class="home"><mat-icon class="ho">home</mat-icon>Home</button>
      <button mat-button  routerLink="/add" class="home"><mat-icon class="ho">add_reaction</mat-icon>Add Restaurant</button>
      <button mat-button  routerLink="/list" class="home"><mat-icon class="ho">menu_book</mat-icon>Restaurant List</button>
     </div>

   </div>
   <div class="logout">
      <button mat-icon-button routerLink="/header">
        <mat-icon *ngIf="deviceXs" >logout</mat-icon>
        <span  *ngIf="!deviceXs" class="home">Logout<mat-icon class="ho">directions_run</mat-icon></span>
      </button>
   </div>
   
  </mat-toolbar-row>

  <mat-toolbar-row  *ngIf="deviceXs" fxLayoutAlign="space-between end">
    <div  *ngIf="deviceXs">
      <button mat-button  routerLink="/home" class="home"><mat-icon class="ho">home</mat-icon>Home</button>
      <button mat-button   routerLink="/add" class="home"><mat-icon class="ho">add_reaction</mat-icon>Add Restaurant</button>
      <button mat-button  routerLink="/list" class="home"><mat-icon class="ho">menu_book</mat-icon>Restaurant List</button>
     </div>
     
  </mat-toolbar-row>
</mat-toolbar>
</div>

